.transactions-large{
    flex: 5;
    -webkit-box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
    -moz-box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
    box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
    padding: 20px;
}

.transactions-title{
    font-size: 25px;
    font-weight: 700;
}

.transaction-table{
    width: 100%;
    border-spacing: 20px;
}

.transaction-th{
    text-align: left;
}

.transaction-user{
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.transaction-date,.transaction-amount{
    font-weight: 400;
}



.transaction-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.transaction-button{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.transaction-button.Approved{
    background-color: #c5f5c7;
    color:#04ad09 ;
}

.transaction-button.Declined{
    background-color: #fff0f1;
    color: #f42b38;
}

.transaction-button.Pending{
    background-color: #ebf1fe;
    color:#5d8ef8 ;
}