.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featured-item{
    flex: 1;
    margin: 2px 20px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0fbff;
    -webkit-box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
    -moz-box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
    box-shadow: 3px 2px 8px 0px rgba(140,138,140,0.66);
}

.featured-title{
    font-size: 20px;
    font-weight:600;
}

.featured-money-container{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.featured-money{
    font-size: 30px;
    font-weight: 600;
}

.featured-money-rate{
    display: flex;
    align-items: center;
    
}

.featured-icon{
    font-size: 20px;
    margin-left: 5px;
    color: green;
}

.featured-icon.negative{
    font-size: 20px;
    margin-left: 5px;
    color: red;
}

.featured-sub{
    color: gray;
}